<h1>Admin Staff Portal</h1>

<div class="card-grid">
    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageClients">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <p class="card-text">Manage and Create Clients</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageIndependentSites">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Independant Sites</h5>
                    <p class="card-text">Manage and Create Independant Sites</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageAssignments">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Assignments</h5>
                    <p class="card-text">Manage and Create Assignments</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageJobs">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Jobs</h5>
                    <p class="card-text">Manage and Create Jobs</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageQuotes">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Quotes</h5>
                    <p class="card-text">Manage and Create Quotes</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageComplaints">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Complaints</h5>
                    <p class="card-text">Manage and Create Complaints</p>
                </div>
            </div>
        </div>
    </a>

    <a class="card" asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="ManageTechnicians">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Technicians</h5>
                    <p class="card-text">Manage and Create Technicians</p>
                </div>
            </div>
        </div>
    </a>
</div>
