@model NestLinkV2.Areas.TechnicianPortal.ViewModels.TechnicianDropJobViewModel

@section Toolbar {
    <li class="nav-item toolbar-item">
        <a href="javascript:submitForm()">
            <i class="fa fa-check"></i>
            <p class="">Confirm Drop</p>
        </a>
    </li>
    <li class="nav-item toolbar-item">
        <a asp-area="TechnicianPortal" asp-controller="TechnicianPortal" asp-action="ViewJob" asp-route-id="@Model.JobID">
            <i class="fa fa-times"></i>
            <p class="">Cancel</p>
        </a>
    </li>
}

@section Scripts {
    <script type="text/javascript">
        function submitForm() {
            if ($('#drop-job-form').get(0).reportValidity() === true) {
                $('#drop-job-form').submit();
            }
        }
    </script>
}

<h1>Drop Job</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" id="drop-job-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="JobID" type="hidden"/>
            <div class="form-group">
                <label asp-for="Reason"></label>
                <p><small>Describe what work you've done so far and why you're dropping the job.</small></p>
                <textarea asp-for="Reason"  required class="form-control"></textarea>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
