@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<div class="card-grid">
    <a class="card" asp-area="Settings" asp-controller="Settings" asp-action="MyCompany">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">My Company</h5>
                    <p class="card-text">Modify comapany info</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="Settings" asp-controller="Settings" asp-action="UserAccounts">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">User Accounts</h5>
                    <p class="card-text">Modify user accounts</p>
                </div>
            </div>
        </div>
    </a>
</div>

