@{
    ViewData["Title"] = "Settings - My Company";
}

<h1>Settings - My Company</h1>

<div class="card-grid">
    <a class="card" asp-area="Settings" asp-controller="Settings" asp-action="ManageProducts">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Modify product offering</p>
                </div>
            </div>
        </div>
    </a>
</div>